
.main--header {
	background: #fafafa;
	width: calc(100vw - 40px);
	padding: 0 20px;
	height: 59px;
	margin-bottom: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px #c0c0c0 solid;
	z-index: 100;
}
