
.home--landing--about--container {
	width: calc(100vw - 20%);
	padding: 20px 10%;
}

.home--landing--about {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 80px 0;
}

.home--landing--about--content {
	width: 500px;
}

.home--landing--about--content--heading {
	padding: 0px 0 30px 0;
}

.home--landing--about--content--heading h2 {
	font-size: 32px;
	font-weight: 500;
	color: var( --dark);
	letter-spacing: 1px;
}

.home--landing--about--content--heading--highlight {
	font-size: 52px;
	font-weight: 700;
	margin-left: 15px;
	letter-spacing: 1.5px;
	color: var( --indigo);
}

.home--landing--about--content p {
	line-height: 1.8;
	font-size: 16px;
	color: var( --dark);
	text-align: justify;
}

.home--landing--about--image img {
	width: 250px;
	height: 250px;
}

@media only screen and (max-width: 600px) {

	.home--landing--about {
		flex-direction: column-reverse;
		padding: 40px 0;
	}

	.home--landing--about--content {
		width: 320px;
	}

	.home--landing--about--unique {
		flex-direction: column;
	}

	.home--landing--about--content--heading h2 {
		font-size: 22px;
	}

	.home--landing--about--content--heading--highlight {
		font-size: 42px;
	}

	.home--landing--about--image {
		padding-bottom: 50px;
	}














}