
.home--landing--how--container {
	width: calc(100vw - 20%);
	padding: 80px 10%;
}

.home--landing--how--heading {
	padding-bottom: 80px;
	text-align: center;
}

.home--landing--how--heading h1 {
	color: var( --dark);
	font-size: 32px;
	letter-spacing: 1px;
	font-weight: 500;
}


@media only screen and (max-width: 600px) {

	.home--landing--how--container {
		padding: 80px 10%;
	}

}