
.home--landing--testimonial--testimonialBox {
	height: 100%;
	width: 100%;
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
}

.home--landing--testimonial--testimonialBox--content--container {
	padding-top: 50px;
	width: 600px;
}

.home--landing--testimonial--testimonialBox--content--container p {
	line-height: 1.7;
}

.home--landing--testimonial--testimonialBox--content--container h6 {
	padding: 20px 0;
	font-weight: 500;
	color: var( --dark);
	font-size: 16px;
	letter-spacing: 1px;
}

@media only screen and (max-width: 600px) {

	.home--landing--testimonial--testimonialBox--content--container {
		width: calc(100vw - 80px);
	}

}